<!DOCTYPE html>
<html>

<head>
  <title>直播吧-足球直播_篮球直播_2018世界杯直播_CCTV5在线直播</title>
  <meta name="keywords" content="直播吧,直播8,足球直播,篮球直播,NBA直播,世界杯直播,在线直播,体育直播" />
  <meta name="description" content="直播吧是国内最好的体育直播平台,主要提供足球直播、篮球直播、NBA直播、CBA直播、世界杯直播、球赛直播、比分直播、英超直播以及CCTV5在线直播等体育赛事。" />
  <link rel="shortcut icon" type="image/x-icon" href="/favicon_1.ico"/>
  <link rel="stylesheet" th:href="@{../styles_1/common.css}" />
  <link rel="stylesheet" th:href="@{../styles_1/detail.css}" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
  <!-- <script th:src="@{js_1/index.js}"></script> -->
  <meta name="baidu-site-verification" content="FeM2EtCC8T" />
  <script>
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?aab079013b60296378945e415582815d";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</head>

<body>
<div class="top-container">
  <div class="top-body">
    <a href="/" target="_self" class="_self">
      <img src="/image_1/logo.png"/>
    </a>
    <div class="top-right _self">
      <a href="/" target="_self">首页</a>
      <!-- <a href="/pindao/CCTV5" target="_self">CCTV5</a> -->
    </div>
  </div>
</div>
<div class="container1">
  <div class="body">
    <div class="play-left">
      <div class="play-info play-info-soccer">
        <div th:if="${matchDTO.teamFlag=='FALSE'}">
          <span th:text="${matchDTO.name}"></span>
        </div>
        <div th:if="${matchDTO.teamFlag!='FALSE'}">


      <span class="play-home" th:text="${matchDTO.masterTeamName}">
      </span>
          <img th:if="${matchDTO.masterTeamLink!=null}" th:src="${matchDTO.masterTeamLink}"/>

          <span class="play-vs" th:text="${matchDTO.playTime}"></span>
          <img th:if="${matchDTO.guestTeamLink!=null}" th:src="${matchDTO.guestTeamLink}"/>

      <span class="play-away" th:text="${matchDTO.guestTeamName}">
      </span>
        </div>
      </div>
      <div class="play-player" id="play_player">
        <div class="play-animate"></div>
        <div class="play-nosignal"></div>

        <div class="noData">

          <p>如果上面的链接无法观看比赛,请点击下方的【回到首页】选择其他信号观看</p >
          <p>【
            <a href="/" target="_blank">回到首页</a>】</p >
        </div>
        <div class="player-ad-close"></div>
      </div>
    </div>
    <!-- <div class="play-right">
        <a href="http://wx3.sinaimg.cn/large/dd29666egy1ftt1j5elw9j20780i2n0y.jpg">
          这里是广告位,尺寸260*650
        </a>
      </div> -->
  </div>
</div>



<div th:replace="layout/footer :: footer"></div>
</body>

</html>