<!DOCTYPE html>
<html lang="en">

<head>
        <title>直播8-直播吧|JRS直播|足球直播|NBA直播 –全网免费超清无延时直播网</title>
        <meta name="keywords" content="直播8，直播吧，JRS直播，足球直播，NBA直播，英超直播 " />
        <meta name="description" content="直播8是知名体育赛事汇聚平台，主要提供免费赛事直播、足球集锦、NBA录像、英超直播等直播服务，直播8以全网最超清信号让您免费畅享五大联赛和NBA直播,并且打造国内最好体育赛事直播吧。" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
        <meta name="baidu-site-verification" content="FeM2EtCC8T" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
        <!-- <link rel="stylesheet" href="../static/styles_1/download.css" /> -->
        <link rel="stylesheet" th:href="@{../styles_1/common.css}" />
        <link rel="stylesheet" th:href="@{../styles_1/download.css}" />
</head>

<body>
    <div th:replace="layout/header :: header"></div>
    <div id="main">
        <div class="title">
            <div class="container fixed-box">
                <div class="app-down">
                    <div class="down">
                        <a href="http://r8h3k.cn/a/aCGUG1" target="_blank">ios下载</a>
                        <!--<a href="https://itunes.apple.com/cn/app/zhi-bo-ba-guan-fang/id560173559?ls=1&amp;mt=8" target="_blank">ios下载</a>-->
                    </div>
                    <div class="down">
                        <a href="http://r8h3k.cn/a/aCGUG1" target="_blank">Android下载</a>
                    </div>
                    <!-- <div class="down">
                        <a href="http://www.windowsphone.com/zh-cn/store/app/%E7%9B%B4%E6%92%AD%E5%90%A7/6fb04f6b-89de-4cf7-942a-2ca2c053b080"
                            target="_blank">WP下载</a>
                    </div> -->
                </div>
                <div class="appdownText">
                    <p>苹果手机需进行IOS信任开发者，</p>
                    <p>步骤如下—</p>
                    <p>第一步，点击APP，若是未受信任的开发者，认识该证书的名称KOS,OOO</p>
                    <p>第二步，点击设置，然后找到通用，点击设备管理；</p>
                    <p>第三步，在描述文件页面，找到KOS,OOO点击信任即可正常使用。</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="content">
                <div class="moble">
                    <img th:src="@{/image_1/shoujiban.png}" />
                </div>
                <div style="clear:both"></div>
                <div class="app-info">
                    <div class="app-left">
                        <div class="app-shouji">
                            <p>直接访问直播吧手机版:</p>
                            <h1><a href="https://www.zhibo8.net" target="_blank">www.zhibo8.net</a></h1>

                        </div>
                        <div class="app-addr">
                            <a class="liji-visit" href="https://m.zhibo8.net" target="_blank">立即访问</a>
                        </div>
                        <div style="clear:both;"></div>
                        <div class="remind">
                            <div>
                                <p>直播吧手机客户端目前只有以上三个版本，市面上其他打着直播吧旗号的</p>
                                <p>程序均为冒充，与直播吧无任何关系，请广大球迷注意识别。有任何意见</p>
                                <p>建议请联系我们，感谢支持！</p>
                            </div>
                        </div>
                    </div>
                    <div class="app-right">
                        <div class="app-model">
                            <img th:src="@{/image_1/shouji-2.png}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="layout/footer :: footer"></div>
</body>

</html>