<!DOCTYPE html>
<html layout:decorator="layout/layout">

<head>
    <title>直播吧-足球直播_篮球直播_2018世界杯直播_CCTV5在线直播</title>
    <meta name="keywords" content="直播吧,直播8,足球直播,篮球直播,NBA直播,世界杯直播,在线直播,体育直播" />
    <meta name="description" content="直播吧是国内最好的体育直播平台,主要提供足球直播、篮球直播、NBA直播、CBA直播、世界杯直播、球赛直播、比分直播、英超直播以及CCTV5在线直播等体育赛事。" />
    <link rel="stylesheet" th:href="@{styles_1/index.css}" />
    <script src="https://cdn.bootcss.com/jquery/3.3.0/jquery.min.js"></script>
    <script th:src="@{js_1/index.js}"></script>
    <meta name="baidu-site-verification" content="FeM2EtCC8T" />
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?aab079013b60296378945e415582815d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>

<body>
    <div class="container" layout:fragment="content">
        <div class="row indexTop">
            <div class="hidden-xs hidden-sm">
                <div class="container container-padding0">
                    <div id="recommend" class="left">
                        <div class="r_video left">
                            <ul>
                                <li class="head ico_fb">
                                    <a href="https://www.zhibo8.cc/zuqiu/" target="_blank">重庆vs上海上港 进球视频</a>
                                    <span></span>
                                    <a href="https://www.zhibo8.cc/zuqiu/2018/0818-renhe-jijin.htm" target="_blank">人和vs国安 进球视频</a>
                                </li>
                                <li>
                                    <a href="https://www.zhibo8.cc/zuqiu/2018/0818-guizhou-jijin.htm" target="_blank">贵州vs山东鲁能 进球视频</a>
                                    <span>|</span>
                                    <a href="https://www.zhibo8.cc/zuqiu/2018/0818-taida-jijin.htm" target="_blank">天津泰达vs江苏苏宁 进球</a>
                                </li>
                                <li>
                                    <a href="https://www.zhibo8.cc/zuqiu/2018/0818-fuli-jijin.htm" target="_blank">广州富力vs亚泰 进球视频</a>
                                    <span>|</span>
                                    <a href="https://www.zhibo8.cc/zuqiu/2018/0818-yifang-jijin.htm" target="_blank">大连一方vs河南建业 进球</a>
                                </li>
                                <li>
                                    <a href="https://www.zhibo8.cc/zuqiu/2018/0818-diji.htm" target="_blank">一方门将黄油手送大礼</a>
                                    <span>|</span>
                                    <a href="https://www.zhibo8.cc/zuqiu/2018/0818-eb5a0be-svideo.htm" target="_blank">瓜帅：与皇马巴萨区别就是信仰</a>
                                </li>
                                <li>
                                    <a href="https://www.zhibo8.cc/zuqiu/2018/0818-116667e-svideo.htm" target="_blank">看爽！足坛劲爆远射片段剪辑</a>
                                    <span>|</span>
                                    <a href="https://www.zhibo8.cc/zuqiu/2018/0818-3cfb40a-svideo.htm" target="_blank">梅西远距离上演穿裆记者</a>
                                </li>
                                <li>
                                    <a href="https://www.zhibo8.cc/zuqiu/2018/0818-6fbd09d-svideo.htm" target="_blank">C罗尤文赛季仪式上献唱</a>
                                    <span>|</span>
                                    <a href="https://www.zhibo8.cc/zuqiu/2018/0818-7289280-svideo.htm" target="_blank">梦剧场宠儿！C罗曼联10大进球</a>
                                </li>
                                <li>
                                    <a href="https://www.zhibo8.cc/zuqiu/2018/0818-dab69d2-svideo.htm" target="_blank">19岁登贝莱恐怖表现剪辑</a>
                                    <span>|</span>
                                    <a href="https://www.zhibo8.cc/zuqiu/2018/0817-nvzu-jijin.htm" target="_blank">中国女足v香港 集锦</a>
                                    <a href="https://www.zhibo8.cc/zuqiu/luxiang.htm" target="_blank">录像</a>
                                </li>
                                <li>
                                    <a href="https://www.zhibo8.cc/zuqiu/2018/0817-hanguo-jijin.htm" target="_blank">孙兴慜替补-马来西亚2:1韩国</a>
                                    <span>|</span>
                                    <a href="https://www.zhibo8.cc/zuqiu/2018/0817-jieshuo.htm" target="_blank">阿拉伯语解说张玉宁进球</a>
                                </li>
                            </ul>
                        </div>
                        <div class="r_news right">
                            <ul>
                                <li class="head ">
                                    <a href="https://news.zhibo8.cc/zuqiu/" target="_blank">鲁能1-3爆冷客负恒丰</a>
                                    <span></span>
                                    <a href="https://news.zhibo8.cc/zuqiu/2018-08-18/118251.htm" target="_blank">人和3-0终结国安不败</a>
                                </li>
                                <li>
                                    <a href="https://news.zhibo8.cc/zuqiu/2018-08-18/118252.htm" target="_blank">穆谢奎双响 一方2-1逆转建业</a>
                                    <span>|</span>
                                    <a href="https://news.zhibo8.cc/zuqiu/2018-08-18/118256.htm" target="_blank">武磊两射一传 上港3-2重庆</a>
                                </li>
                                <li>
                                    <a href="https://news.zhibo8.cc/zuqiu/2018-08-18/118254.htm" target="_blank">扎哈维造三球 富力5-2逆转亚泰</a>
                                    <span>|</span>
                                    <a href="https://news.zhibo8.cc/zuqiu/2018-08-18/118253.htm" target="_blank">埃德尔破门 苏宁1-1泰达</a>
                                </li>
                                <li>
                                    <a href="https://news.zhibo8.cc/zuqiu/2018-08-18/5b7810ed37bc0.htm" target="_blank">拜仁vs德罗科特森：J罗伤缺 </a>
                                    <span>|</span>
                                    <a href="https://news.zhibo8.cc/zuqiu/2018-08-18/5b77eaf3d8230.htm" target="_blank">热刺vs富勒姆：凯恩领衔</a>
                                </li>
                                <li>
                                    <a href="https://news.zhibo8.cc/zuqiu/2018-08-18/5b77cabd596a4.htm" target="_blank">进巴西队，佩雷拉破百年纪录</a>
                                    <span>|</span>
                                    <a href="https://news.zhibo8.cc/zuqiu/2018-08-18/5b780e22c9b27.htm" target="_blank">一方门将张翀“下蛋”丢球</a>
                                </li>
                                <li>
                                    <a href="https://news.zhibo8.cc/zuqiu/2018-08-18/5b77bc5fae111.htm" target="_blank">英媒：孙兴慜免服兵役遭打击</a>
                                    <span>|</span>
                                    <a href="https://news.zhibo8.cc/zuqiu/2018-08-18/5b77ba34a55af.htm" target="_blank">伊布服装品牌亏1.7亿停产</a>
                                </li>
                                <li>
                                    <a href="https://news.zhibo8.cc/zuqiu/2018-08-18/5b780fa216cc0.htm" target="_blank">盘点单场任意球帽子戏法大师</a>
                                    <span>|</span>
                                    <a href="https://news.zhibo8.cc/zuqiu/2018-08-18/5b77d6494ef93.htm" target="_blank">拉克索尔特，左路超跑来了</a>
                                </li>
                                <li>
                                    <a href="https://news.zhibo8.cc/zuqiu/2018-08-18/5b77dd21c67c0.htm" target="_blank">蓝黑札记：起航重拾国米荣光</a>
                                    <span>|</span>
                                    <a href="https://news.zhibo8.cc/zuqiu/2018-08-18/5b7804d737045.htm" target="_blank">今日趣图：瓜迪奥拉Style</a>
                                </li>
                            </ul>
                        </div>
                        <div class="line clear"></div>
                        <div class="r_video left">
                            <ul>
                                <li class="head ico_bb">
                                    <a href="https://www.zhibo8.cc/nba/" target="_blank">于嘉问韦德：会去勇士？</a>
                                    <span></span>
                                    <a href="https://www.zhibo8.cc/nba/2018/0818-block.htm" target="_blank">17-18赛季封盖扣篮集锦</a>
                                </li>
                                <li>
                                    <a href="https://www.zhibo8.cc/nba/2018/0818-0951a5f-svideo.htm" target="_blank">人气高呐！卡佩拉中国行自拍</a>
                                    <span>|</span>
                                    <a href="https://www.zhibo8.cc/nba/2018/0818-8b20b0b-svideo.htm" target="_blank">退役多年姚明罚球连中30球</a>
                                </li>
                                <li>
                                    <a href="https://www.zhibo8.cc/nba/2018/0818-16f131c-svideo.htm" target="_blank">姚主席亲授自己的罚球秘籍</a>
                                    <span>|</span>
                                    <a href="https://www.zhibo8.cc/nba/2018/0818-zion.htm" target="_blank">劲爆！Zion杜克第二战砍24+8</a>
                                </li>
                                <li>
                                    <a href="https://www.zhibo8.cc/nba/2018/0818-tmac.htm" target="_blank">04年麦迪vs奇才狂飙62分</a>
                                    <span>|</span>
                                    <a href="https://www.zhibo8.cc/nba/2018/0818-edc5704-svideo.htm" target="_blank">麦迪：我的孩子不知我有多厉害</a>
                                </li>
                                <li>
                                    <a href="https://www.zhibo8.cc/nba/2018/0818-james.htm" target="_blank">2005詹姆斯vs猛龙砍56分</a>
                                    <span>|</span>
                                    <a href="https://www.zhibo8.cc/nba/2018/0818-msdj.htm" target="_blank">91年总决G5 魔术师vs乔丹集锦</a>
                                </li>
                                <li>
                                    <a href="https://www.zhibo8.cc/nba/2018/0818-zklw.htm" target="_blank">拉文2015年扣篮大赛回顾</a>
                                    <span>|</span>
                                    <a href="https://www.zhibo8.cc/nba/2018/0818-kg.htm" target="_blank">07常规赛KG后仰绝杀开拓者</a>
                                </li>
                                <li>
                                    <a href="https://www.zhibo8.cc/nba/2018/0818-xfeu.htm" target="_blank">17-18季追身盖帽精彩集锦</a>
                                    <span>|</span>
                                    <a href="http://www.zhibo8.cc/nba/2018/0817-china-jijin.htm" target="_blank">男篮蓝队v克罗地亚 集锦</a>
                                    <a href="https://www.zhibo8.cc/nba/luxiang.htm" target="_blank">录像</a>
                                </li>
                                <li>
                                    <a href="http://www.zhibo8.cc/nba/2018/0818-sc.htm" target="_blank">新秀库里vs巅峰罗斯集锦</a>
                                    <span>|</span>
                                    <a href="https://www.zhibo8.cc/nba/2018/0818-barkley.htm" target="_blank">巴克利亲驴屁股背后的故事</a>
                                </li>
                            </ul>
                        </div>
                        <div class="r_news right">
                            <ul>
                                <li class="head ">
                                    <a href="https://news.zhibo8.cc/nba/" target="_blank">专家预测19年大牌去向</a>
                                    <span></span>
                                    <a href="https://news.zhibo8.cc/nba/2018-08-17/5b76e1255cb51.htm" target="_blank">预测最快进步球员候选</a>
                                </li>
                                <li>
                                    <a href="https://news.zhibo8.cc/nba/2018-08-18/5b77ded0d94b3.htm" target="_blank">尼克斯寻求交易走考特尼-李</a>
                                    <span>|</span>
                                    <a href="https://news.zhibo8.cc/nba/2018-08-18/5b76fb53ba341.htm" target="_blank">鲍文谈被解雇：要说出事实</a>
                                </li>
                                <li>
                                    <a href="https://news.zhibo8.cc/nba/2018-08-18/5b773f25b0ada.htm" target="_blank">Shams：火箭已裁掉RJ-亨特</a>
                                    <span>|</span>
                                    <a href="https://news.zhibo8.cc/nba/2018-08-18/5b773de9d3106.htm" target="_blank">火箭签前锋布鲁诺-卡博克洛</a>
                                </li>
                                <li>
                                    <a href="https://news.zhibo8.cc/nba/2018-08-18/5b7741a68e5f7.htm" target="_blank">母校为塔图姆退役高中球衣</a>
                                    <span>|</span>
                                    <a href="https://news.zhibo8.cc/nba/2018-08-18/5b77438246acb.htm" target="_blank">魔术师：我不怕也不担心勇士</a>
                                </li>
                                <li>
                                    <a href="https://news.zhibo8.cc/nba/2018-08-18/5b774600d5d3a.htm" target="_blank">乐福：詹姆斯曾经鼓励过我</a>
                                    <span>|</span>
                                    <a href="https://news.zhibo8.cc/nba/2018-08-18/5b778baad6794.htm" target="_blank">WNBA克洛德高难度绝杀火花</a>
                                </li>
                                <li>
                                    <a href="https://news.zhibo8.cc/nba/2018-08-18/5b780b35389ef.htm" target="_blank">美记：胡德正和骑士商讨合约</a>
                                    <span>|</span>
                                    <a href="https://news.zhibo8.cc/nba/2018-08-18/5b77fd3d99970.htm" target="_blank">键盘侠：库里承认记仇乐福</a>
                                </li>
                                <li>
                                    <a href="https://news.zhibo8.cc/nba/2018-08-18/5b77756701c44.htm" target="_blank">甜瓜在场不会让防守崩溃</a>
                                    <span>|</span>
                                    <a href="https://news.zhibo8.cc/nba/2018-08-18/5b77d1b3d0e03.htm" target="_blank">J-罗斯：MJ是历史最佳而非LBJ</a>
                                </li>
                                <li>
                                    <a href="https://news.zhibo8.cc/nba/2018-08-18/5b781fa9ef650.htm" target="_blank">美媒评选现役中锋各项之最</a>
                                    <span>|</span>
                                    <a href="https://news.zhibo8.cc/nba/2018-08-18/5b776eb2c4d1d.htm" target="_blank">明年勇士总薪金将突破1.74亿</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="ad_box" class="right">
                        <div class="ad_box_250">
                            <img src="https://cdn.dsp.com/adviva/upload/20180817/0.832696001534474185.jpg" alt="">
                        </div>
                        <div class="other">
                            <ul>
                                <li>
                                    <a tid="20620" href="https://tu.zhibo8.cc/nba" target="_blank">这才是属于90后的篮球</a>
                                    <span>|</span>
                                    <a tid="32984" href="https://tu.zhibo8.cc/home/album/42614" target="_blank">街霸阿尔斯通</a>
                                </li>
                                <li>
                                    <a tid="8422" href="https://bbs.zhibo8.cc/forum/topic?tid=2418679" target="_blank">谁是真正战术鬼才</a>
                                    <span>|</span>
                                    <a tid="19681" href="https://bbs.zhibo8.cc/forum/topic?tid=2418459" target="_blank">队史最强阵容评选</a>
                                </li>
                                <li>
                                    <a tid="83" href="https://news.zhibo8.cc/zuqiu/2018-02-26/5a93b317643d9.htm" target="_blank">直播吧编辑招聘</a>
                                    <span>|</span>
                                    <a tid="19680" href="https://bbs.zhibo8.cc/forum/topic?tid=2418802" target="_blank">你是因为谁喜欢米兰</a>
                                </li>
                                <li>
                                    <a tid="20619" href="https://bbs.zhibo8.cc/forum/topic?tid=2418662" target="_blank">你的足坛初恋是谁</a>
                                    <span>|</span>
                                    <a tid="21471" href="https://bbs.zhibo8.cc/forum/topic?tid=2417711" target="_blank">韧带术后扳腿的痛</a>
                                </li>
                                <li>
                                    <a tid="18895" href="https://tu.zhibo8.cc/zuqiu" target="_blank">佩嫂七夕秀恩爱</a>
                                    <span>|</span>
                                    <a tid="19682" href="https://tu.zhibo8.cc/home/album/42608" target="_blank">法国名宿性感千金</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9 left-content">
                <div class="row collection-title margin-top-10" th:if="${pageAds['首页左侧顶部'].image != ''}">
                    <div class="col-md-12">
                        <a th:href="${pageAds['首页左侧顶部'].link}" target="_blank">
                            <img th:src="${pageAds['首页左侧顶部'].image}" class="img-responsive" />
                        </a>
                    </div>
                </div>
                <!-- <div class="hidden-xs hidden-sm">
                    <div class="row collection-title margin-top-10">
                        <div class="col-md-6">
                            <b>
                                <img th:src="@{image_1/icon/football.png}" class="icon-24" />
                                <span>足球集锦</span>
                            </b>
                        </div>
                    </div>
                    <div class="row collections">
                        <div class="col-md-3 col-sm-12" th:each="f:${footballEndeds}">
                            <span th:text="${f.name}"></span>
                            <a th:href="'/video_1/'+${f.id}" th:if="${f.hasJijin}">集锦</a>
                            <a th:href="'/video_1/'+${f.id}" th:if="${f.hasLuxiang}">录像</a>
                        </div>
                        <div class="col-md-6 col-sm-12" th:each="f:${footballEndeds2}">
                            <span th:text="${f.name}"></span>
                            <a th:href="'/video_1/'+${f.id}" th:if="${f.hasJijin}">集锦</a>
                            <a th:href="'/video_1/'+${f.id}" th:if="${f.hasLuxiang}">录像</a>
                        </div>
                    </div>
                    <div class="row collection-title">
                        <div class="col-md-6">
                            <b>
                                <img th:src="@{image_1/icon/basketball.png}" class="icon-24" />
                                <span>篮球集锦</span>
                            </b>
                        </div>
                    </div>
                    <div class="row collections">
                        <div class="col-md-3 col-sm-12" th:each="f:${basketballEndeds}">
                            <span th:text="${f.name}"></span>
                            <a th:href="'/video_1/'+${f.id}" th:if="${f.hasJijin}">集锦</a>
                            <a th:href="'/video_1/'+${f.id}" th:if="${f.hasLuxiang}">录像</a>
                        </div>
                        <div class="col-md-6 col-sm-12" th:each="f:${basketballEndeds2}">
                            <span th:text="${f.name}"></span>
                            <a th:href="'/video_1/'+${f.id}" th:if="${f.hasJijin}">集锦</a>
                            <a th:href="'/video_1/'+${f.id}" th:if="${f.hasLuxiang}">录像</a>
                        </div>
                    </div>
                </div> -->
                <div class="row collection-title margin-top-10">
                    <div class="col-md-12" th:if="${pageAds['首页集锦下方'].image != ''}">
                        <a th:href="${pageAds['首页集锦下方'].link}" target="_blank">
                            <img th:src="${pageAds['首页集锦下方'].image}" class="img-responsive" />
                        </a>
                    </div>
                </div>
                <div id="js-schedule" class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs schedule-tabs mobilenav">
                            <li role="presentation" class="active tab-all" id="">
                                <a href="javascript:switchTo('all')">
                                    <span class="iconfont icon0">&#xe636;</span>
                                    <span class="iconfont icon1">&#xe636;</span>
                                    全部</a>
                            </li>
                            <li role="presentation" class="tab-emphasis">
                                <a href="javascript:switchTo('emphasis')">
                                    <!-- <img th:src="@{image_1/icon/important-0.png}" class="icon-20 icon0" /> -->
                                    <!-- <img th:src="@{image_1/icon/important-1.png}" class="icon-20 icon1" /> -->
                                    <span class="iconfont icon0">&#xe60a;</span>
                                    <span class="iconfont icon1">&#xe60a;</span>
                                    重要</a>
                            </li>
                            <li role="presentation" class="tab-football">
                                <a href="javascript:switchTo('football')">
                                    <!-- <img th:src="@{image_1/icon/football-0.png}" class="icon-20 icon0" />
                                    <img th:src="@{image_1/icon/football-1.png}" class="icon-20 icon1" /> -->
                                    <span class="iconfont icon0">&#xe61a;</span>
                                    <span class="iconfont icon1">&#xe61a;</span>
                                    足球</a>
                            </li>
                            <li role="presentation" class="tab-basketball">
                                <a href="javascript:switchTo('basketball')">
                                    <!-- <img th:src="@{image_1/icon/basketball-0.png}" class="icon-20 icon0" />
                                    <img th:src="@{image_1/icon/basketball-1.png}" class="icon-20 icon1" /> -->
                                    <span class="iconfont icon0">&#xe639;</span>
                                    <span class="iconfont icon1">&#xe639;</span>
                                    篮球</a>
                            </li>
                        </ul>
                        <div class="scroller">
                            <ul>
                                <li th:each="d:${days}">
                                    <a href="#" th:classappend="${d=='今天'?'active':''}" th:text="${d}"></a>
                                </li>
                            </ul>
                            <div class="up">
                                <a href="javascript:void(0);">
                                    <img th:src="@{image_1/icon/up.png}" />
                                </a>
                            </div>
                        </div>
                        <div class="schedule max-height-600">
                            <div th:each="dl,iter:${dailyLives}" class="day-div">
                                <div class="day-div-top">
                                    <label th:text="${dl.dateStr}" class="day"></label>
                                    <ul class="nav nav-tabs schedule-tabs">
                                        <li role="presentation" class="active tab-all" id="">
                                            <a href="javascript:switchTo('all')">
                                                <span class="iconfont icon0">&#xe636;</span>
                                                <span class="iconfont icon1">&#xe636;</span>
                                                全部</a>
                                        </li>
                                        <li role="presentation" class="tab-emphasis">
                                            <a href="javascript:switchTo('emphasis')">
                                                <!-- <img th:src="@{image_1/icon/important-0.png}" class="icon-20 icon0" /> -->
                                                <!-- <img th:src="@{image_1/icon/important-1.png}" class="icon-20 icon1" /> -->
                                                <span class="iconfont icon0">&#xe60a;</span>
                                                <span class="iconfont icon1">&#xe60a;</span>
                                                重要</a>
                                        </li>
                                        <li role="presentation" class="tab-football">
                                            <a href="javascript:switchTo('football')">
                                                <!-- <img th:src="@{image_1/icon/football-0.png}" class="icon-20 icon0" />
                                                <img th:src="@{image_1/icon/football-1.png}" class="icon-20 icon1" /> -->
                                                <span class="iconfont icon0">&#xe61a;</span>
                                                <span class="iconfont icon1">&#xe61a;</span>
                                                足球</a>
                                        </li>
                                        <li role="presentation" class="tab-basketball">
                                            <a href="javascript:switchTo('basketball')">
                                                <!-- <img th:src="@{image_1/icon/basketball-0.png}" class="icon-20 icon0" />
                                                <img th:src="@{image_1/icon/basketball-1.png}" class="icon-20 icon1" /> -->
                                                <span class="iconfont icon0">&#xe639;</span>
                                                <span class="iconfont icon1">&#xe639;</span>
                                                篮球</a>
                                        </li>
                                    </ul>
                                </div>
                                <ul class="list-unstyled">
                                    <li th:each="m:${dl.matches}" th:classappend="|${m.emphasis==1 ? 'emphasis' : ''} ${m.important==1 ? 'important' : ''} ${m.project=='足球' ? 'football' : ''} ${m.project=='篮球' ? 'basketball' : ''}|">
                                        <span class="list-style">•</span>
                                        <span class="time" th:text="${m.playTime}"></span>
                                        <span class="game" th:text="${m.game}"></span>
                                        <span class="match" th:text="${m.name}"></span>
                                        <span class="live" th:each="l:${m.lives}">
                                            <div th:if="${l.signals.size() &gt; 1}" th:remove="tag">
                                                <span th:text="${l.name}"></span>(
                                                <a th:each="s:${l.signals}" th:href="${'/live_1/'+s.liveId}" th:text="${'&nbsp;' + s.indexName + '&nbsp;'}" target="_blank"></a>)
                                            </div>
                                            <div th:if="${l.signals.size() == 1}" th:remove="tag">
                                                <a th:href="${'/live_1/'+l.signals[0].liveId}" th:text="${l.signals[0].name}"></a>
                                            </div>
                                        </span>

                                        <a th:each="a:${m.ads}" th:href="${a.link}" th:text="${a.name}" th:classappend="|${a.light==1 ? 'important' : ''}|" target="_blank"></a>
                                    </li>
                                </ul>
                                <div th:if="${iter.index==0 &amp;&amp; pageAds['首页第一日直播下方'].image != ''}">
                                    <a th:href="${pageAds['首页第一日直播下方'].link}" target="_blank">
                                        <img th:src="${pageAds['首页第一日直播下方'].image}" class="img-responsive" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="loadMore">
                            <a href="javascript:void(0)">加载更多
                                <img th:src="@{/image_1/icon/arrow-loadmore.png}" />
                            </a>
                        </div>
                        <div id="scrollToTop">
                            <a href="javascript:void(0)">返回顶部
                                <img th:src="@{/image_1/icon/arrow-up.png}" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 right-content index-right-content">
                <div class="margin-top-10" th:if="${pageAds['首页右侧顶部'].image != ''}">
                    <a th:href="${pageAds['首页右侧顶部'].link}" target="_blank">
                        <img th:src="${pageAds['首页右侧顶部'].image}" class="img-responsive" />
                    </a>
                </div>
                <!-- <div th:replace="layout/right :: channel"></div> -->
                <!-- <div class="collection margin-top-20">
                    <label class="">
                        <span class="iconfont">&#xe615;</span>
                        <span class="padding-left-10">视频集锦</span>
                    </label>
                    <ul class="list-unstyled">
                        <li th:each="v:${videos}" class="video-li">
                            <span class="list-style">•</span>
                            <a th:href="${v.link}" th:text="${v.name}" target="_blank"></a>
                        </li>
                    </ul>
                </div> -->
                <div class="margin-top-10" th:if="${pageAds['首页右侧视频集锦下方'].image != ''}">
                    <a th:href="${pageAds['首页右侧视频集锦下方'].link}" target="_blank">
                        <img th:src="${pageAds['首页右侧视频集锦下方'].image}" class="img-responsive" />
                    </a>
                </div>
                <div class="video margin-top-20">
                    <label class="">
                        <!-- <img th:src="@{/image_1/icon/video-list.png}" class="icon-24" /> -->
                        <!-- <span class="iconfont">&#xe615;</span> -->
                        <span class="padding-left-10">天下足球</span>
                    </label>
                    <ul class="list-unstyled">
                        <li th:each="f:${footballLuxiangs}" class="luxiang-li">
                            <!-- <img th:src="@{image_1/icon/video.png}" class="icon-24" /> -->
                            <span class="list-style">•</span>
                            <a th:href="${'/video_1/'+f.ended.id}" th:text="${f.name}"></a>
                        </li>
                    </ul>
                </div>
                <div class="video margin-top-20">
                    <label class="">
                        <!-- <img th:src="@{/image_1/icon/video-list.png}" class="icon-24" /> -->
                        <!-- <span class="iconfont">&#xe615;</span> -->
                        <span class="padding-left-10">篮球公园</span>
                    </label>
                    <ul class="list-unstyled">
                        <li th:each="b:${basketballLuxiangs}" class="luxiang-li">
                            <!-- <img th:src="@{image_1/icon/video.png}" class="icon-24" /> -->
                            <span class="list-style">•</span>
                            <a th:href="${'/video_1/'+b.ended.id}" th:text="${b.name}"></a>
                        </li>
                    </ul>
                </div>
                <div class="margin-top-10" th:if="${pageAds['首页右侧下方'].image != ''}">
                    <a th:href="${pageAds['首页右侧下方'].link}" target="_blank">
                        <img th:src="${pageAds['首页右侧下方'].image}" class="img-responsive" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>