<!DOCTYPE html>
<html>

<head>
    <title>直播吧-足球直播_篮球直播_2018世界杯直播_CCTV5在线直播</title>
    <meta name="keywords" content="直播吧,直播8,足球直播,篮球直播,NBA直播,世界杯直播,在线直播,体育直播" />
    <meta name="description" content="直播吧是国内最好的体育直播平台,主要提供足球直播、篮球直播、NBA直播、CBA直播、世界杯直播、球赛直播、比分直播、英超直播以及CCTV5在线直播等体育赛事。" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon_1.ico" />
    <link rel="stylesheet" th:href="@{../styles_1/common.css}" />
    <link rel="stylesheet" th:href="@{../styles_1/detail.css}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
    <!-- <script th:src="@{js_1/index.js}"></script> -->
    <meta name="baidu-site-verification" content="FeM2EtCC8T" />
    <!-- 腾讯TcPlayer -->
    <!-- <script src="http://imgcache.qq.com/open/qcloud/video/vcplayer/TcPlayer-2.2.2.js" charset="utf-8"></script> -->
    <!-- ckplayer -->
    <script type="text/javascript" th:src="@{../js_1/ckplayer.js}"></script>
    <script>
        // var _hmt = _hmt || [];
        // (function () {
        //   var hm = document.createElement("script");
        //   hm.src = "https://hm.baidu.com/hm.js?aab079013b60296378945e415582815d";
        //   var s = document.getElementsByTagName("script")[0];
        //   s.parentNode.insertBefore(hm, s);
        // })();
    </script>
</head>

<body>
    <div class="top-container">
        <div class="top-body">
            <a href="/" target="_self" class="_self">
                <img src="/image_1/logo.png" />
            </a>
            <div class="top-right _self">
                <a href="/" target="_self">首页</a>
                <!-- <a href="/pindao/CCTV5" target="_self">CCTV5</a> -->
            </div>
        </div>
    </div>
    <div class="container1">
        <div class="body">
            <div class="play-left">
                <div class="play-info play-info-soccer">
                    <div th:if="${matchDTO.teamFlag=='FALSE'}">
                        <span th:text="${matchDTO.name}"></span>
                    </div>
                    <div th:if="${matchDTO.teamFlag!='FALSE'}">


                        <span class="play-home" th:text="${matchDTO.masterTeamName}">
                        </span>
                        <img th:if="${matchDTO.masterTeamLink!=null}" th:src="${matchDTO.masterTeamLink}" />

                        <span class="play-vs" th:text="${matchDTO.playDateStr}"></span>
                        <img th:if="${matchDTO.guestTeamLink!=null}" th:src="${matchDTO.guestTeamLink}" />


                        <span class="play-away" th:text="${matchDTO.guestTeamName}">
                        </span>
                    </div>
                </div>
                <div class="play-player" id="play_player">
                    <div class="play-animate"></div>
                    <div class="play-nosignal"></div>
                    <div th:if="${liveDTO.link!=null}" id="id_test_video" style="width:100%; height:100%; background-color: rgb(0, 0, 0); overflow: hidden; position: relative;">
                        <div class="ckplayerchcibnbibhcozinnmu" style="background-color: rgb(0, 0, 0); width: 100%; height: 100%;"><object
                                pluginspage="http://www.macromedia.com/go/getflashplayer" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                                codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=11,3,0,0"
                                width="100%" height="100%" id="chzwhoybbhsxakofwl" name="chzwhoybbhsxakofwl" align="middle">
                                <param name="allowScriptAccess" value="always" />
                                <param name="allowFullScreen" value="true" />
                                <param name="quality" value="high" />
                                <param name="bgcolor" value="#000" />
                                <param name="movie" value="https://douyuplayer.gz.bcebos.com/ckplayer/ckplayer.swf" />
                                <param name="flashvars" value="variable=player&amp;volume=0.8&amp;autoplay=1&amp;live=1&amp;video=http%3A%2F%2Fpull.stager.jp.8686c.com%2Fstager%2F822427%2Fplaylist.m3u8&amp;playbackrate=1&amp;width=16&amp;height=9" />
                                <embed
                                    allowscriptaccess="always" allowfullscreen="true" quality="high" bgcolor="#000" src="https://douyuplayer.gz.bcebos.com/ckplayer/ckplayer.swf"
                                    flashvars="variable=player&amp;volume=0.8&amp;autoplay=1&amp;live=1&amp;video=http%3A%2F%2Fpull.stager.jp.8686c.com%2Fstager%2F822427%2Fplaylist.m3u8&amp;playbackrate=1&amp;width=16&amp;height=9"
                                    width="100%" height="100%" id="chzwhoybbhsxakofwl" name="chzwhoybbhsxakofwl" align="middle"
                                    type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"/></object></div>
                    </div>
                    <span class="geturl" th:text="${liveDTO.link}" style="display:none;"></span>
                    <script>
                        $(function () {
                            var dataurl = $(".geturl").html();
                            // 腾讯 TcPlayer
                            // var player = new TcPlayer('id_test_video', {
                            //   "m3u8": dataurl, //请替换成实际可用的播放地址
                            //   "autoplay": true, //iOS下safari浏览器，以及大部分移动端浏览器是不开放视频自动播放这个能力的
                            //   "coverpic": 'https://www.zhibo8.net/image_1/default.png',
                            //   "width": '1000', //视频的显示宽度，请尽量使用视频分辨率宽度
                            //   "height": '500' //视频的显示高度，请尽量使用视频分辨率高度
                            // });

                            var videoObject = {
                                container: '#id_test_video', //“#”代表容器的ID，“.”或“”代表容器的class
                                variable: 'player', //该属性必需设置，值等于下面的new chplayer()的对象
                                autoplay: true, //自动播放
                                live: true,
                                width: 16,
                                height: 9,
                                video: dataurl //视频地址
                            };
                            var player = new ckplayer(videoObject);

                            function browserRedirect() {
                                var sUserAgent = navigator.userAgent.toLowerCase();
                                var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
                                var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
                                var bIsMidp = sUserAgent.match(/midp/i) == "midp";
                                var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
                                var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
                                var bIsAndroid = sUserAgent.match(/android/i) == "android";
                                var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
                                var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
                                if (bIsIpad || bIsIphoneOs || bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE ||
                                    bIsWM) {
                                    var showplayer = document.getElementById("video");
                                    showplayer.style.height = "100%";
                                    showplayer.style.width = "100%";
                                } else {
                                    var showplayer = document.getElementById("video");
                                    showplayer.style.height = "100%";
                                    showplayer.style.width = "100%";
                                }
                            }
                            browserRedirect();
                        })
                    </script>
                    <div class="noData" th:if="${matchDTO.matchStreamUrl==null}">
                        <p>如果上面的链接无法观看比赛,请点击下方的【回到首页】选择其他信号观看</p>
                        <p>【
                            <a href="/" target="_blank">回到首页</a>】</p>
                    </div>
                    <div class="player-ad-close"></div>
                </div>
            </div>
            <!-- <div class="play-right">
        <a href="http://wx3.sinaimg.cn/large/dd29666egy1ftt1j5elw9j20780i2n0y.jpg">
          这里是广告位,尺寸260*650
        </a>
      </div> -->
        </div>
    </div>



    <div th:replace="layout/footer :: footer"></div>
</body>
<script src="https://s13.cnzz.com/z_stat.php?id=1273166609&amp;web_id=1273166609" language="JavaScript"></script>

</html>